bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

CMakeCache.txt
CMakeFiles
CMakeScripts
cmake-build-debug/
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
.vs/
*.aps
/Data/*/*/*.cso
*.cso
imgui.ini
*.nsight-gfxproj
/out
/logs
/Assets
Assets.7z
.idea/

*.sln
*.vcxproj*
!*.vcxproj.user.in
cmake_install.cmake
x64/*
lib/
*.dir/